.app {
  height: 100vh;
  width: 100%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  width: auto;
  height: 10%;
  flex: 1;
  background-color: #143447;
  margin: 0 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.body {
  margin: 8px;
  border-radius: 8px;
  flex: 1;
  width: auto;
  min-height: 50%;
  background-color: #143447;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.footer {
  width: auto;
  min-height: 3%;
  margin: 8px;
  flex: 1;
  border-radius: 8px;
  background-color: #143447;
}

.header_navbar {
  background-color: white;
  width: 50%;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.header_logo {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header_logo img {
  width: auto;
  height: 80%;
  object-fit: contain;
}

.header_menu {
  color: white;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.background-3 {
  background-image: url('/src/img/background3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}