.app {
  height: 100vh;
  width: auto;
  background-color: #476f86;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
/* #2f4855 */
/* #bdccd4 */
/* #6c8795 */

/* #476f86 */
/* #143447 */
.header {
  flex: 3;
  background-color: #143447;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 3px 3px 10px #2f4855;
}

.body {
  flex: 10;
  margin-bottom: 8px; 
  border-radius: 8px;
  background-color: #143447;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 10px #2f4855;
}

.footer {
  flex: 1;
  border-radius: 8px;
  background-color: #143447;
  box-shadow: 3px 3px 10px #2f4855;
}

.header_navbar {
  background-color: white;
  width: 50%;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.header_logo {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header_logo img {
  width: auto;
  height: 80%;
  object-fit: contain;
}

.header_menu {
  color: white;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.background-3 {
  background-image: url('/src/assets/img/background3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}